Library/
Temp/
Obj/
Build/
Builds/
Logs/
Packages/
ProjectSettings/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.xml
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta

